@import "../../assets/scss/variable.scss";

.projuct-wrap {
  .grident-btn {
    padding: 1rem 2rem;
    font-family: $primaryfont;
    font-weight: 700;
  }
  p {
    color: rgba(255, 255, 255, 0.7);
  }
}
.video-wrap {
  padding: 6.125rem 0 10.1875rem;
  position: relative;
  @media screen and (max-width: 991.99px) {
    padding: 4.125rem 0 5.3125rem;
  }
  h3 {
    color: #fff;
    font-size: 3.375rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 991.99px) {
      font-size: 2.25rem;
    }
  }
  p {
    margin: 0 0 2.5rem;
    @media screen and (max-width: 991.99px) {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin: 0 0 3.25rem;
    }
  }
  .video-inner {
    max-width: 60rem;
    margin: 0px auto;
  }
  .video-pattern-top {
    position: absolute;
    left: -4.875rem;
    top: 4.375rem;
    width: 9.75rem;
    height: 9s.75rem;
    background: linear-gradient(92deg, #e10de4 0%, #02e1ff 99.75%);
    filter: blur(149px);
  }
  .video-pattern-bottom {
    position: absolute;
    right: 0;
    bottom: 6.25rem;
    width: 12.25rem;
    height: 12.25rem;
    background: linear-gradient(92deg, #e10de4 0%, #02e1ff 99.75%);
    filter: blur(166.5px);
  }
}
.sponsorship-wrap {
  position: relative;
  padding: 5.375rem 0 11.625rem;
  @media screen and (max-width: 991.99px) {
    padding: 2.5rem 0 6.0625rem;
  }
  .sponsorship-shadow {
    position: absolute;
    left: -4.6875rem;
    top: 5rem;
    width: 9.375rem;
    height: 9.375rem;
    background: linear-gradient(92deg, #e10de4 0%, #02e1ff 99.75%);
    filter: blur(166.5px);

    @media screen and (max-width: 991.99px) {
      display: none;
    }
  }
}
.sponsorship-inner {
  display: flex;
  gap: 8.9375rem;
  align-items: center;
  position: relative;
  @media screen and (max-width: 1199.99px) {
    gap: 1.5rem;
  }
  @media screen and (max-width: 991.99px) {
    gap: 3.25rem;
    flex-direction: column;
    text-align: center;
  }
  p {
    margin: 1rem 0 3.25rem;
    @media screen and (max-width: 991.99px) {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin: 1rem 0 2.25rem;
    }
  }
  h3 {
    font-size: 2.5rem;
    margin: 0;
    @media screen and (max-width: 991.99px) {
      font-size: 1.75rem;
      text-align: center;
    }
  }
}

.sponsorship-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  .sponsorship-box {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 6.25rem;
    width: 100%;
    padding: 0.375rem;
    @media screen and (max-width: 991.99px) {
      height: 3.125rem;
      img {
        max-width: 100%;
        max-height: 39px;
      }
    }
  }
}

.customers-wrap {
  margin-bottom: 6.25rem;
  position: relative;
  .customer-pattern-bottom {
    width: 6.625rem;
    height: 12.25rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(92deg, #e10de4 0%, #02e1ff 99.75%);
    filter: blur(166.5px);
  }
  h3 {
    color: #fff;
    font-size: 2.5rem;
    margin: 0 0 1rem;
    @media screen and (max-width: 991.99px) {
      font-size: 1.8125rem;
    }
  }
  p {
    margin: 0 0 3.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    @media screen and (max-width: 991.99px) {
      font-size: 0.875rem;
      br {
        display: none;
      }
    }
  }

  .customers-review {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 3.25rem;
    position: relative;
    .customer-pattern {
      width: 18.375rem;
      height: 18.375rem;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.4;
      background: linear-gradient(92deg, #e10de4 0%, #02e1ff 99.75%);
      filter: blur(200px);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    @media screen and (max-width: 767.99px) {
      display: none;
      .grident-btn {
        display: none;
      }
    }
  }
}

.customers-review-box {
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-direction: column;
  width: 31%;
  @media screen and (max-width: 1199.99px) {
    padding: 1.625rem 0.8125rem;
  }
  @media screen and (max-width: 991.99px) {
    width: 48%;
  }
  @media screen and (max-width: 767.99px) {
    width: 100%;
  }
  .customers-review-top {
    display: grid;
    grid-template-columns: 2.875rem 1fr;
    gap: 24px;
    color: #fff;
    align-items: center;
    img {
      width: 46px;
      height: 46px;
      object-fit: cover;
      border-radius: 50%;
    }
    span {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: $primaryfont;
      @media screen and (max-width: 1199.99px) {
        font-size: 0.875rem;
      }
    }
  }
  .customers-review-mid {
    p {
      margin: 1.5rem 0;
      @media screen and (max-width: 1199.99px) {
        font-size: 0.875rem;
        line-height: 1.3125rem;
      }
    }
  }
  .customers-review-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border-radius: 0.5rem;
      background: rgba(254, 0, 221, 0.24);
      border: none;
      outline: none;
      color: #fff;
      padding: 0.375rem 0.875rem;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: $primaryfont;
      @media screen and (max-width: 1199.99px) {
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
    }
  }
}

.slider {
  display: none;
  @media screen and (max-width: 767.99px) {
    display: block;
  }
}

.dynamic-subtitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    /* ... your other styles ... */
  }


  .action-cta {
    margin-top: 50px;  /* Adjust the value as needed */
  }


  .ryter-logo-container {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    font-size: 4rem;
    padding-right: 30px;;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin: 0px auto;
  }