@import "../../assets/scss/variable.scss";

footer {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  overflow: hidden;

  .bottom-pattern {
    position: absolute;
    bottom: -6.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 11.6875rem;
    height: 11.6875rem;
    background: linear-gradient(180deg, #5d19ca 14.38%, #150b41 100%);
    filter: blur(150.5px);
  }

  .right-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11.6875rem;
    height: 11.6875rem;
    background: linear-gradient(180deg, #5d19ca 14.38%, #150b41 100%);
    filter: blur(150.5px);
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 1.375rem 0 2.5rem;
  align-items: center;

  @media screen and (max-width: 767.99px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left {
    max-width: 16.875rem;
    @media screen and (max-width: 991.99px) {
      margin-bottom: 2.5rem;
    }
  }

  p {
    margin: 0;
    padding: 1.5rem 0;
    @media screen and (max-width: 991.99px) {
      padding: 1rem 0;
      font-size: 0.75rem;
    }
  }

  .footer-social {
    gap: 0.5rem;
    display: flex;
  }
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;

  @media screen and (max-width: 991.99px) {
    grid-template-columns: 50px 1fr 1fr;
    gap: 2.375rem;
  }

  .footer-links-wrap {
    gap: 1.25rem;
  }

  a {
    font-family: $primaryfont;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    @media screen and (max-width: 991.99px) {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      gap: 1.5625rem;
    }
    &.active,
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.footer-bottom {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  padding: 1.5rem;
  
  @media screen and (max-width: 991.99px) {
    padding: 1rem;
    p {
      font-size: 0.75rem;
    }
  }
}
